.flex {
  display: flex;
  gap: var(--space-md);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.start {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.end {
  align-items: flex-end;
}

.stretch {
  align-items: stretch;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.justifyEvenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.gapXs {
  gap: var(--space-xs);
}

.gapSm {
  gap: var(--space-sm);
}

.gapMd {
  gap: var(--space-md);
}

.gapLg {
  gap: var(--space-lg);
}

.gapXl {
  gap: var(--space-xl);
}
