.spacer {
  display: block;
}

.separator {
  border: 0;
  border-top: var(--component-divider-width) solid var(--color-border);
  margin: 0;
  width: 100%;
}

.aspectRatio {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.aspectRatio > * {
  inset: 0;
  position: absolute;
}

.srOnly {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
